body{
  margin: auto;
}

.header{
  background-color: #4C4C4C;
  padding: 15px 30px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px #5C7D8F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0.98;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.logo{
  width: 50px;
  height: 50px;
}

.logo a{
  text-decoration: none;
}

.headerButtons{
  width: 300px;
  height: 40px;
  display: flex;
}

.headerButtons button{
  background-color: #6F6F6F;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 1px 0px rgba(111, 111, 111, 0.4);
}

.headerButtons button:hover{
  background-color: #8B8B8B;
  transition-duration: 0.2s;
  transform: scale(1.02);
}

.content{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
}

.content a{
  text-decoration: none;
}

.product{
  box-shadow: 1px 2px 2px 1px #9C7D8F;
  border-radius: 5px;
  height: 450px;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product:hover{
  transition-duration: 0.5s;
  transform: scale(1.05);
  box-shadow: 0px 5px 10px 0px rgba(111, 111, 111, 0.4);
}

.product img{
  width: 300px;
  height: 200px;
  padding: 10px;
}

.productTitle{
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 200;
  color: black;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

.specs{
  text-align: justify;
  width: 300px;
  margin: 15px;
  color: black;
  font-size: 15px;
}

.productPrice{
  font-size: 26px;
  font-weight: bold;
  color: #ff2424;
  margin-left: 10px;
  padding-bottom: 5px;
}

.carticon{
  width: 25px;
  height: 25px;
  padding-right: 5px;
  padding-left: 15px;
  vertical-align: middle;
}

.cart, .loginButton{
  font-size: 16px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.category-wrapper{
  padding: 25px;
}
