@import url(https://fonts.googleapis.com/css?family=Oswald:400);


.logout-span {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}
.logoutIcon{
    vertical-align: middle;
}
.logout-button {
    top: 11vh;
    right: 1vw;
    position: absolute;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    color: white;
    width: 30px;
    float: left;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
}
.logout-button:hover {
    width: 200px;
}
.logout-button:hover .logout-span{
    opacity: .9;
}

.payments-container{
    display: block;
}

.profile-header{
    display: flex;
    padding: 10px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #1a1a1a;
}

.user-data-title{
    display: block;
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.favourite-items-title{
    display: block;
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.user-data{
    display: grid;
    grid-template-columns: 10% 20% 70%;
    grid-template-rows: 50% 50%;
    border-bottom: 1px solid #1a1a1a;
    padding: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.col-1-row-1{
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.col-2-row-1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    justify-self: right;
}

.col-1-row-2{
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.col-2-row-2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: right;
}

.favourite-items-few{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.favourite-items-few a{
    padding: 15px;
    color: black;
    text-decoration: none;
}

.favourite-items-few img{
    height: 150px;
    width: 150px;
}

.favourite-items-few-title{
    font-size: 14px;
    width: 150px;
}

.favourite-items-many{
    padding:0 60px;
    max-width: 800px;
    margin:0 auto;

}

.favourite-items{
    border-bottom: 1px solid #1a1a1a;
}

.chevron-button {
    font-size: 20px;
    color: gray;
    border: 1px solid gray;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.chevron-button:hover {
    color: lightblue;
    border: 1px solid lightblue;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.payments-table{
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
}

.payments-table th{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.payments-table td{
    padding: 10px;
}


