@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.user-carousel-container{
    display: flex;
}
.user-container{
    text-align: center;
    background-color: #fff;
    display: block;
    width: 400px;
    margin: 20px;
    padding: 5px;
    -webkit-box-shadow: 0px 1px 21px 5px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 21px 5px rgba(0,0,0,0.55);
}
.carousel-container{
    padding:0 60px;
    max-width: 800px;
    margin: 0 auto;
}
.user{
    border-bottom: 1px solid gray;
}
.info-container{
    font-size: 24px;
}
.profile-img{
    height: 200px;
    width: 200px;
    border: 1px solid gray;
    padding: 15px;
}
.email-div{
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 15px;
    width: 300px;
    padding: 15px;
}

.navigation-container {
    width: 100%;
    background-color: black;
}
.logout-span {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}
.logoutIcon{
    vertical-align: middle;
}
.logout-button {
    text-decoration: none;
    float: left;
    padding: 10px;
    margin: 20px;
    color: white;
    width: 30px;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
}
.logout-button:hover {
    width: 200px;
}
.logout-button:hover .logout-span{
    opacity: .9;
}


