@media only screen and (max-width: 1240px) {
    input[type=checkbox] {
        --height: 1.2rem;
        --inset: 0.25rem;
        --border-size: 3px;
        --color-hover: #dcdcdc;
        --color-bg: #4C4C4C;
        --color-bg-checked: #C70039;
        --color-knob: #fff;
        --knob-size: calc(var(--height) - var(--inset) * 2);
        --width: calc(var(--height) * 2 - var(--inset) * 2);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: content-box;
        position: relative;
        overflow: hidden;
        width: var(--width);
        height: var(--height);
        border-radius: var(--height);
        border: var(--border-size) solid transparent;
        transition: background 0.3s ease;
    }

    input[type=checkbox]:focus {
        outline: none;
    }

    input[type=checkbox]:hover, input[type=checkbox]:focus {
        background: var(--color-hover);
    }

    input[type=checkbox]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-bg);
        transition: background 0.3s ease;
    }

    input[type=checkbox]:after {
        content: "";
        position: absolute;
        border-radius: 100%;
        top: calc(var(--inset));
        left: calc(var(--inset));
        width: var(--knob-size);
        height: var(--knob-size);
        background: var(--color-knob);
        transition: transform 0.3s ease;
    }

    input[type=checkbox]:checked:before {
        background: var(--color-bg-checked);
    }

    input[type=checkbox]:checked:after {
        transform: translateX(100%);
    }

    label {
        margin-right: 1.0em;
        font-size: 1rem;
        font-weight: bolder;
        color: #444;
        padding: 0.8rem;
    }

    .toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1241px) {
    input[type=checkbox] {
        --height: 2.0rem;
        --inset: 0.25rem;
        --border-size: 3px;
        --color-hover: #dcdcdc;
        --color-bg: #4C4C4C;
        --color-bg-checked: #C70039;
        --color-knob: #fff;
        --knob-size: calc(var(--height) - var(--inset) * 2);
        --width: calc(var(--height) * 2 - var(--inset) * 2);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: content-box;
        position: relative;
        overflow: hidden;
        width: var(--width);
        height: var(--height);
        border-radius: var(--height);
        border: var(--border-size) solid transparent;
        transition: background 0.3s ease;
    }

    input[type=checkbox]:focus {
        outline: none;
    }

    input[type=checkbox]:hover, input[type=checkbox]:focus {
        background: var(--color-hover);
    }

    input[type=checkbox]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-bg);
        transition: background 0.3s ease;
    }

    input[type=checkbox]:after {
        content: "";
        position: absolute;
        border-radius: 100%;
        top: calc(var(--inset));
        left: calc(var(--inset));
        width: var(--knob-size);
        height: var(--knob-size);
        background: var(--color-knob);
        transition: transform 0.3s ease;
    }

    input[type=checkbox]:checked:before {
        background: var(--color-bg-checked);
    }

    input[type=checkbox]:checked:after {
        transform: translateX(100%);
    }

    label {
        margin-right: 1.0em;
        font-size: 1.3rem;
        font-weight: bolder;
        color: #444;
        padding: 0.8rem;
    }

    .toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

 