@media only screen and (max-width: 1240px) {
    .header {
        background-color: #4C4C4C;
        padding: 15px 30px;
        overflow: hidden;
        box-shadow: 2px 2px 2px 2px #5C7D8F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        position: sticky;
        top: 0;
        z-index: 1;
        opacity: 0.98;
    }


    .logohover {
        background-color: transparent;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .logo a {
        text-decoration: none;
    }

    .headerButtons {
        height: 40px;
        display: flex;
    }

    .headerButtons button {
        background-color: #6F6F6F;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
        box-shadow: 0px 2px 1px 0px rgba(111, 111, 111, 0.4);
        padding-right: 15px;
    }

    .headerButtons button:hover {
        background-color: #8B8B8B;
        transition-duration: 0.2s;
        transform: scale(1.02);
    }

    .carticon {
        width: 25px;
        height: 25px;
        padding-right: 10px;
        padding-left: 5px;
    }

    .cart, .loginButton {
        font-size: 12px;
        height: 50px;
        padding-bottom: 42px;
    }

    .cart {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .loginButton {
        width: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
}

@media only screen and (min-width: 1241px) {

    .item-count {
        position: absolute;
        margin-left: -15px;
        margin-top: 25px;
        border: solid brown 2px;
        padding: 2px;
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 100px;
        background-color: crimson;
        color: white;
    }

    .headerButtons{
        display: flex;
    }

    .header {
        background-color: #4C4C4C;
        padding: 15px 30px;
        overflow: hidden;
        box-shadow: 2px 2px 2px 2px #5C7D8F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        position: sticky;
        top: 0;
        z-index: 1;
        opacity: 0.98;
    }

    .logohover {
        background-color: transparent;
    }

    .logo {
        width: 65px;
        height: 65px;
    }

    .logo a {
        text-decoration: none;
    }



    .headerButtons button {
        background-color: #6F6F6F;
        border: none;
        color: white;
        font-weight: bold;
        box-shadow: 0px 2px 1px 0px rgba(111, 111, 111, 0.4);
        padding-right: 15px;
    }

    .headerButtons button:hover{
        background-color: #8B8B8B;
        transition-duration: 0.2s;
        transform: scale(1.02);
    }

    .carticon {
        width: 25px;
        height: 25px;
        padding-right: 10px;
        padding-left: 5px;
        vertical-align: middle;
    }

    .cart, .user-button, .logout-button{
        font-size: 16px;
        padding: 10px 0 10px 0;
    }

    .cart {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .user-button {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .logout-button {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .user-settings-button{
        padding: 0 !important;
        margin-left: 10px;
    }

    .user-settings-button:hover{
        background-color: #8B8B8B !important;
    }

    .settings-icon{
        vertical-align: middle;
    }
}
