
 @media only screen and (max-width: 1240px){
    .header {
        background-color: #4C4C4C;
        padding: 15px 30px;
        overflow: hidden;
        box-shadow: 2px 2px 2px 2px #5C7D8F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        position: sticky;
        top: 0;
        z-index: 1;
        opacity: 0.98;
    }
    
    .header a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .logo {
        width: 25px;
        height: 25px;
        background-image: linear-gradient(#9C4C4C, #C73309, #D71C51  );
        padding: 8px;
        border-radius: 5px;
    }
    
    .logo a {
        text-decoration: none;
    }
    
    .headerButtons {
        height: 40px;
        display: flex;
    }
    
    .headerButtons button {
        background-color: #6F6F6F;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
        box-shadow: 0px 2px 1px 0px rgba(111, 111, 111, 0.4);
        padding-right: 15px;
    }
    
    .headerButtons button:hover {
        background-color: #8B8B8B;
        transition-duration: 0.2s;
        transform: scale(1.02);
    }
    
    .carticon {
        width: 25px;
        height: 25px;
        padding-right: 10px;
        padding-left: 5px;
        vertical-align: middle;
    }
    
    .cart, .loginButton {
        font-size: 12px;
        height: 50px;
        padding-bottom: 42px;
    }

    .cart{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .loginButton{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
 }
 @media only screen and (min-width: 1241px){
    .header {
        background-color: #4C4C4C;
        padding: 15px 30px;
        overflow: hidden;
        box-shadow: 2px 2px 2px 2px #5C7D8F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        position: sticky;
        top: 0;
        z-index: 1;
        opacity: 0.98;
    }
    
    .header a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .logo {
        width: 50px;
        height: 50px;
        background-image: linear-gradient(#9C4C4C, #C73309, #D71C51  );
        padding: 8px;
        border-radius: 5px;
    }
    
    .logo a {
        text-decoration: none;
    }
    
    .headerButtons {
        height: 40px;
        display: flex;
    }
    
    .headerButtons button {
        background-color: #6F6F6F;
        border: none;
        color: white;
        font-weight: bold;
        box-shadow: 0px 2px 1px 0px rgba(111, 111, 111, 0.4);
        padding-right: 15px;
    }
    
    .headerButtons button:hover {
        background-color: #8B8B8B;
        transition-duration: 0.2s;
        transform: scale(1.02);
    }
    
    .carticon {
        width: 25px;
        height: 25px;
        padding-right: 10px;
        padding-left: 5px;
        vertical-align: middle;
    }
    
    .cart, .loginButton {
        font-size: 16px;
        height: 40px;
    }

    .cart{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .loginButton{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
 }
