body{
  margin: auto;
}




@media only screen and (max-width: 1240px) {
    .content {
        padding-top: 10px;
        display: contents;
        width: 80vw;
        margin: 0 auto;
    }

        .content a {
            text-decoration: none;
        }

    .product {
        display: flex;
        align-items: center;
        box-shadow: 0px 1px 1px 0px #9C7D8F;
        height: 20%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
    }

        .product:hover {
            transition-duration: 0.5s;
            transform: scale(1.05);
            box-shadow: 0px 5px 10px 0px rgba(111, 111, 111, 0.4);
        }

        .product img {
            width: 20%;
            height: 10%;
            padding: 10px;
        }

    .productTitle {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 200;
        color: black;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 300px;
    }

    .specs {
        text-align: justify;
        width: 300px;
        margin: 15px;
        color: black;
        font-size: 15px;
    }

    .productPrice {
        font-size: 26px;
        font-weight: bold;
        color: #ff2424;
        margin-left: 10px;
        padding-bottom: 5px;
    }

    .category-wrapper {
        padding: 25px;
    }

    .checkbox__Container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        box-shadow: 1px 1px 3px 1px #9C7D8F;
        border-radius: 2px;
    }

    .items-settings{
        display: flex;
        justify-content: flex-end;
        margin: 10px 12vw 40px 12vw;
    }

    .foundItems{
        display: flex;
        justify-content: left;
        margin: 10px 12vw 0px 12vw;
        border-bottom: solid #000 2px;
        border-radius: 2px;
        font-size: 18px;
    }
}


@media only screen and (min-width: 1241px){
    .content {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80vw;
        margin: 0 auto;
    }

        .content a {
            text-decoration: none;
        }

    .product {
        box-shadow: 1px 2px 2px 1px #9C7D8F;
        border-radius: 5px;
        height: 450px;
        margin: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

        .product:hover {
            transition-duration: 0.5s;
            transform: scale(1.05);
            box-shadow: 0px 5px 10px 0px rgba(111, 111, 111, 0.4);
        }

        .product img {
            width: 300px;
            height: 200px;
            padding: 10px;
        }

    .productTitle {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 200;
        color: black;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 300px;
    }

    .specs {
        text-align: justify;
        width: 300px;
        margin: 15px;
        color: black;
        font-size: 15px;
    }

    .productPrice {
        font-size: 26px;
        font-weight: bold;
        color: #ff2424;
        margin-left: 10px;
        padding-bottom: 5px;
    }

    .category-wrapper {
        padding: 25px;
    }

    .checkbox__Container {
        display: flex;
        justify-content: center;
        margin: 10px 12vw 40px 12vw;
        box-shadow: 1px 1px 3px 1px #9C7D8F;
        border-radius: 2px;
    }

    .items-settings{
        display: flex;
        justify-content: flex-end;
        margin: 10px 12vw 40px 12vw;
    }

    .foundItems{
        display: flex;
        justify-content: left;
        margin: 10px 12vw 0px 12vw;
        border-bottom: solid #000 2px;
        border-radius: 2px;
        font-size: 18px;
    }

}


