select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border-bottom: solid #000 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: #fff;
    background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 2em;
    background: #fff;
    overflow: hidden;
    margin-top: 20px;
    border: none;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    color: #000;
    font-size: 16px;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .3em;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.select:hover::after {
    color: #C70039;
}
